<div class="carousel-header">
  <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <img
          src="../../../assets/img/carousel-4.jpg"
          class="img-fluid"
          alt="Image"
        />
        <div class="carousel-caption">
          <div class="p-3" style="max-width: 900px">
            <h4
              class="text-white text-uppercase fw-bold mb-4"
              style="letter-spacing: 3px"
            >
              CREATION AND INNOVATION
            </h4>
            <h1 class="display-2 text-capitalize text-white mb-4">
              Higher Saudi Skills Institute Academy!
            </h1>
            <p class="mb-5 fs-5">
              leading education and training provider in Saudi Arabia. We seek
              to empower individuals and organizations achieve their goals.
            </p>
            <div class="d-flex align-items-center justify-content-center">
              <a
                class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5"
                href="#"
                >Discover Now</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/img/carousel-5.jpg"
          class="img-fluid"
          alt="Image"
        />
        <div class="carousel-caption">
          <div class="p-3" style="max-width: 900px">
            <h4
              class="text-white text-uppercase fw-bold mb-4"
              style="letter-spacing: 3px"
            >
              Teaching & Learning
            </h4>
            <h1 class="display-2 text-capitalize text-white mb-4">
              Institute VISION
            </h1>
            <p class="mb-5 fs-5">
              Creating a new generation of Saudi women and men capable of
              realising the nation’s Vision 2030 in education to meet the
              demands of a 21st century knowledge-based labour market.
            </p>
            <div class="d-flex align-items-center justify-content-center">
              <a
                class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5"
                href="#"
                >Discover Now</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="../../../assets/img/carousel-6.jpg"
          class="img-fluid"
          alt="Image"
        />
        <div class="carousel-caption">
          <div class="p-3" style="max-width: 900px">
            <h4
              class="text-white text-uppercase fw-bold mb-4"
              style="letter-spacing: 3px"
            >
              To Achieve Our Message, We Believe In
            </h4>
            <h1 class="display-2 text-capitalize text-white mb-4">
              Our MISSION
            </h1>
            <p class="mb-5 fs-5">
              Equip nascent and established professionals, private companies, as
              well as public institutions with the requisite skills to achieve
              their full potential through innovative educational programs.
            </p>
            <div class="d-flex align-items-center justify-content-center">
              <a
                class="btn-hover-bg btn btn-primary rounded-pill text-white py-3 px-5"
                href="#"
                >Discover Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselId"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon btn bg-primary"
        aria-hidden="false"
      ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselId"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon btn bg-primary"
        aria-hidden="false"
      ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
