<div
  class="container-fluid about py-5"
  id="about"
  [attr.dir]="lang == 'en' ? 'ltr' : 'rtl'"
>
  <div class="container py-5">
    <div class="row g-5 align-items-center">
      <div class="col-lg-5">
        <div
          class="h-100"
          style="
            border: 50px solid;
            border-color: transparent #13357b transparent #13357b;
          "
        >
          <img
            src="../../../assets/img/building.jpg"
            class="img-fluid w-100 h-100"
            alt=""
          />
        </div>
      </div>
      <div
        class="col-lg-7"
        style="
          background: linear-gradient(
              rgba(255, 255, 255, 0.8),
              rgba(255, 255, 255, 0.8)
            ),
            url(../../../assets/img/GettyImages-1292319470-1-e1663277729533-1024x867.png);
        "
      >
        <h5 class="section-about-title pe-3">
          {{ "about.title" | translate }}
        </h5>
        <h1 class="mb-4">
          {{ "about.welcome" | translate }}
          <span style="">{{ "about.subtitle" | translate }}</span>
        </h1>
        <p class="mb-4">
          {{ "about.pargraphs.1" | translate }}
        </p>
        <p class="mb-4">
          {{ "about.pargraphs.2" | translate }}
        </p>
        <div class="row gy-2 gx-4 mb-4">
          <div class="col-sm-6">
            <p class="mb-0">
              <i
                class="fa fa-arrow-right text-primary me-2"
                [class.rotate]="lang == 'ar'"
              ></i>
              {{ "about.sub1" | translate }}
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i
                class="fa fa-arrow-right text-primary me-2"
                [class.rotate]="lang == 'ar'"
              ></i>
              {{ "about.sub2" | translate }}
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i
                class="fa fa-arrow-right text-primary me-2"
                [class.rotate]="lang == 'ar'"
              ></i>
              {{ "about.sub3" | translate }}
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i
                class="fa fa-arrow-right text-primary me-2"
                [class.rotate]="lang == 'ar'"
              ></i>
              {{ "about.sub4" | translate }}
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i
                class="fa fa-arrow-right text-primary me-2"
                [class.rotate]="lang == 'ar'"
              ></i>
              {{ "about.sub5" | translate }}
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i
                class="fa fa-arrow-right text-primary me-2"
                [class.rotate]="lang == 'ar'"
              ></i>
              {{ "about.sub6" | translate }}
            </p>
          </div>
        </div>

        <a class="btn btn-btn-next-brev rounded-pill py-3 px-5 mt-2" href=""
          >{{ "about.button" | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
