.about .container .section-about-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: #225c55;
}

.about .container .section-about-title::before {
  content: "";
  width: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-right: -50px;
  border: 1px solid #225c55 !important;
}

.btn-btn-next-brev {
  background-color: #225c55;
  color: #fff;
  border-radius: 0;
  border: 0;
  padding: 10px 20px;
}

.rotate {
  transform: rotate(180deg);
  /* Rotate the arrow icon 180 degrees */
}