<div class="container-fluid about py-5">
  <div class="container py-5">
    <div class="row g-5 align-items-center">
      <div class="col-lg-5">
        <div
          class="h-100"
          style="
            border: 50px solid;
            border-color: transparent #13357b transparent #13357b;
          "
        >
          <img
            src="../../../assets/img/building.jpg"
            class="img-fluid w-100 h-100"
            alt=""
          />
        </div>
      </div>
      <div
        class="col-lg-7"
        style="
          background: linear-gradient(
              rgba(255, 255, 255, 0.8),
              rgba(255, 255, 255, 0.8)
            ),
            url(../../../assets/img/GettyImages-1292319470-1-e1663277729533-1024x867.png);
        "
      >
        <h5 class="section-about-title pe-3">About Us</h5>
        <h1 class="mb-4">
          Welcome to <span class="text-primary">Saudi Skills Institute</span>
        </h1>
        <p class="mb-4">
          Saudi Skills Co Ltd. is a leading education and training provider in
          Saudi Arabia. We seek to empower individuals and organizations achieve
          their goals by providing high-quality education and training programs
          that meet the needs of the market. Our core values are excellence,
          innovation, and integrity. We operate several institutes, each of
          which offers a unique set of diplomas, courses and training programs.
        </p>
        <p class="mb-4">
          Our ﬂagship institute is the Higher Saudi Skills Institute in Riyadh
          and Jeddah, which was established in 1994 and offers diplomas in
          interior design, graphic design and other design-related ﬁelds. We
          also offer education consultancy services under the brand name of "The
          Skills Education Consultancy" which, provides support to international
          and national education entities in entering the market, and design
          training material when needed.
        </p>
        <div class="row gy-2 gx-4 mb-4">
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i> Our Branches
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Our Courses
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Featured
              Diplomas
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>Upcoming
              Branches
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>
              Recent Successful Projects
            </p>
          </div>
          <div class="col-sm-6">
            <p class="mb-0">
              <i class="fa fa-arrow-right text-primary me-2"></i>24/7 Service
            </p>
          </div>
        </div>
        <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href=""
          >Read More</a
        >
      </div>
    </div>
  </div>
</div>
