<div class="container-fluid destination py-5" id="brands">
  <div class="container py-5">
    <div class="mx-auto text-center mb-5" style="max-width: 900px">
      <h5 class="section-title px-3">{{ "brands.title" | translate }}</h5>

      <h1 class="mb-0">{{ "brands.subtitle" | translate }}</h1>
    </div>
    <div class="tab-class text-center">
      <ul class="nav nav-pills d-inline-flex justify-content-center mb-5">
        @for (item of taps; track $index) {
        <li class="nav-item" (click)="changegeActive($index + 1)">
          <a
            class="d-flex mx-3 py-2 border bg-light rounded-pill"
            style="border: 1px solid #225c55 !important"
            [ngClass]="{ active: $index + 1 == 1 && activeFlag }"
            data-bs-toggle="pill"
            href="#tab-{{ $index + 1 }}"
          >
            <span class="text-dark" style="width: 150px">{{ $index + 1 }}</span>
          </a>
        </li>
        }
      </ul>
      <div class="tab-content">
        @for (item of itemsList; track $index) {

        <div
          id="tab-{{ $index + 1 }}"
          class="tab-pane fade show p-0"
          [ngClass]="{ active: $index + 1 == 1 && activeFlag }"
        >
          <div class="row g-4">
            @for (obj of item.images; track $index) {

            <div class="col-lg-6 p-2">
              <div
                class="service-content-inner d-flex align-items-center bg-white border rounded p-4 pe-0 box"
                style="
                  height: 200px;
                  overflow: hidden;
                  border: 1px solid #225c55 !important;
                "
              >
                <div class="service-icon p-4">
                  <i class="{{ obj?.icon }}"></i>
                </div>
                <div
                  class="service-content p-3 text-start"
                  [class.text-end]="lang == 'ar'"
                >
                  <h5 class="mb-4">
                    {{ lang == "ar" ? obj?.titleAr : obj?.title }}
                  </h5>
                  <p class="mb-0">
                    {{ lang == "ar" ? obj?.descAr : obj?.desc }}
                  </p>
                </div>
              </div>
            </div>

            }
            <div class="col-12">
              <div class="text-center">
                <a
                  class="btn btn-btn-next-brev rounded-pill py-3 px-5 mt-2"
                  href=""
                  >{{ "brands.button" | translate }}</a
                >
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>

<!-- Services Start -->
<div class="container-fluid bg-light service py-5" id="services">
  <div class="container py-5">
    <div class="mx-auto text-center mb-5" style="max-width: 900px">
      <h5 class="section-title px-3">{{ "services.title" | translate }}</h5>
      <h1 class="mb-0">{{ "services.subtitle" | translate }}</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-6">
        <div class="row g-4">
          <div class="col-12">
            <div
              class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0"
              style="
                height: 200px;
                overflow: hidden;
                border: 1px solid #225c55 !important;
              "
            >
              <div
                class="service-content text-start p-2"
                [class.text-end]="lang == 'ar'"
              >
                <h5 class="mb-4">{{ "services.1.title" | translate }}</h5>
                <p class="mb-0">
                  {{ "services.1.desc" | translate }}
                </p>
              </div>
              <div class="service-icon p-4">
                <i class="fa fa-hands-helping fa-4x icon-bg icon-bg"></i>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div
              class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 pe-0"
              style="
                height: 200px;
                overflow: hidden;
                border: 1px solid #225c55 !important;
              "
            >
              <div
                class="service-content text-start p-2"
                [class.text-end]="lang == 'ar'"
              >
                <h5 class="mb-4">{{ "services.2.title" | translate }}</h5>
                <p class="mb-0">
                  {{ "services.2.desc" | translate }}
                </p>
              </div>
              <div class="service-icon p-4">
                <i class="fa fa-bar-chart fa-4x icon-bg"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="row g-4">
          <div class="col-12">
            <div
              class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0"
              style="
                height: 200px;
                overflow: hidden;
                border: 1px solid #225c55 !important;
              "
            >
              <div class="service-icon p-4">
                <i class="fa fa-briefcase fa-4x icon-bg"></i>
              </div>
              <div class="service-content" [class.text-end]="lang == 'ar'">
                <h5 class="mb-4">{{ "services.3.title" | translate }}</h5>
                <p class="mb-0">
                  {{ "services.3.desc" | translate }}
                </p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div
              class="service-content-inner d-flex align-items-center bg-white border border-primary rounded p-4 ps-0"
              style="
                height: 200px;
                overflow: hidden;
                border: 1px solid #225c55 !important;
              "
            >
              <div class="service-icon p-4">
                <i class="fa fa-building fa-4x icon-bg"></i>
              </div>
              <div class="service-content" [class.text-end]="lang == 'ar'">
                <h5 class="mb-4">{{ "services.4.title" | translate }}</h5>
                <p class="mb-0">
                  {{ "services.4.desc" | translate }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <a
            class="btn btn-btn-next-brev rounded-pill py-3 px-5 mt-2"
            href=""
            >{{ "services.button" | translate }}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Services End -->
