<div
  class="doctor-message"
  id="achievements"
  [attr.dir]="lang == 'en' ? 'ltr' : 'rtl'"
>
  <div class="inner-lay">
    <div class="container">
      <div class="row session-title">
        <h2>{{ "achivments.title" | translate }}</h2>
        <p>
          {{ "achivments.subtitle" | translate }}
        </p>
      </div>
      <div class="row">
        <div class="col-sm-3 numb">
          <h3>23367</h3>
          <span>{{ "achivments.graduates" | translate }}</span>
        </div>
        <div class="col-sm-3 numb">
          <h3>22+</h3>
          <span>{{ "achivments.courses" | translate }}</span>
        </div>
        <div class="col-sm-3 numb">
          <h3>17+</h3>
          <span>{{ "achivments.teachers" | translate }}</span>
        </div>

        <div class="col-sm-3 numb">
          <h3>2020982</h3>
          <span>{{ "achivments.website-visits" | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
